<p><%= @greeting %></p>

<p>
  Thanks for your enquiry about staying at my place in Margate. I'll be in touch soon to answer any questions and help arrange your trip.
</p>

<p>Take care and speak soon,</p>
<p>Chris</p>
