<div class="container p-2 m-1">
  <%= turbo_frame_tag 'calendar' do %>
    <%= month_calendar(events: @bookings) do |date, bookings| %>
      <div class="day">
        <div class="date"><%= date.day %></div>

        <% bookings.each do | booking | %>
          <div class="booking">
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>