<div class="container border-top p-2 m-1 pt-3 mt-3">
  <h4>Where you'll be</h4>
  <div class="row p-2">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9958.640638606323!2d1.3781670384003655!3d51.3909237!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d953baca3a1ab5%3A0x78fa1829e2dd04bc!2sTemeraire%20Court%2C%20Fort%20Cres%2C%20Margate%20CT9%201HB!5e0!3m2!1sen!2suk!4v1710351949139!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>