<div class="container p-2 m-1 pt-3">
  <h4>Things to know</h4>
  <div class="row row-cols-1 row-cols-md-3 p-2">
    <div class="col p-2">
      <h5>House Rules</h5>
      <h6>Self check-in/out</h6>
      <h6>£<%= @property.cleaning_fee %> cleaning fee</h6>
      <h6>Minimum stay of <%= @property.minimum_nights %> nights</h6>
    </div>
    <div class="col p-2">
      <h5>Safety & Property</h5>
      <h6>Lock box</h6>
      <h6>Smoke alarm</h6>
      <h6>Fire extinguishers</h6>
    </div>
    <div class="col p-2">
      <h5>Cancellation policy</h5>
      <h6>📞 Give me a jangle</h6>
    </div>
  </div>
</div>