<div class="container">
  <h1>Welcome to Margate!</h1>

  <div class="container bg-light">
    <div class="row row-cols-2">
      <div class="col">image-1</div>
      <div class="col">
        <div class="row row-cols-2">
          <div class="col">image-2</div>
          <div class="col">image-3</div>
        </div>
        <div class="row row-cols-2">
          <div class="col">image-4</div>
          <div class="col">image-5</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="border-bottom">
      <div class="row row-cols-2">
        <div class="col-sm-10">
          <h4>Entire Flat hosted by Spellers</h4>
          <h6>4 guests | 2 bedrooms | 2 beds | 2 bathrooms | Dogs encouraged</h6>
        </div>
        <div class="col-sm-2 bg-light">profile-img</div>
      </div>
    </div>
    <div class="border-bottom">
      <p>Lots of description about the properly here. <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="border-bottom">
      <h4>Entire Flat hosted by Spellers</h4>
      <ul>
        <li>Dog Friendly</li>
        <li>Sea view</li>
        <li>Wifi</li>
        <li>Kitchen</li>
        <li>Bath & 2 Showers</li>
        <li>2 dedicated work spaces</li>
        <li>...</li>
      </ul>
      <button type="button" class="btn btn-outline-info">Show all 69 amendities</button>
    </div>
    <div class="border-bottom">
      <h4>No reviews (yet)</h4>
    </div>
    <div class="border-bottom">
      <h4>Where you'll be</h4>
      <div>Map of location</div>
    </div>
    <div class="border-bottom">
      <h4>Things to know</h4>
      <div class="row row-cols-3 fw-bolder">
        <div class="col">House Rules</div>
        <div class="col">Safety & property</div>
        <div class="col">Cancellation policy</div>
      </div>
      <div class="row row-cols-3">
        <div class="col">Check-in after 15:00</div>
        <div class="col">Lock box</div>
        <div class="col">Free cancellation before x.</div>
      </div>
      <div class="row row-cols-3">
        <div class="col">Checkout before 11:00</div>
        <div class="col">Smoke alarm</div>
        <div class="col">Review the Host’s full cancellation policy </div>
      </div>
      <div class="row row-cols-3">
        <div class="col">4 human guests maximum</div>
        <div class="col">Fire extinguishers</div>
        <div class="col">which applies even if you cancel for illness or disruptions caused by COVID-19.</div>
      </div>
    </div>
  </div>
</div>