<div class="container">
  <h1>Welcome to Margate!</h1>

  <div class="container bg-light">
    <div class="row row-cols-2">
      <div class="col">image-1</div>
      <div class="col">
        <div class="row row-cols-2">
          <div class="col">image-2</div>
          <div class="col">image-3</div>
        </div>
        <div class="row row-cols-2">
          <div class="col">image-4</div>
          <div class="col">image-5</div>
        </div>
      </div>
    </div>
  </div>
</div>