.grid-img{
  border-radius: 12px;
  margin: 4px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  background-position: center center;
}

.bg-img-1 {
  background-image: asset-url("living-room3.jpeg");
  background-size: cover;
  height: 98%;
  min-height: 20vh;
}
.bg-img-2 {
  background-image: asset-url("master2.jpeg");
  background-size: cover;
  height: 20vh;
}
.bg-img-3 {
  background-image: asset-url("view1.jpeg");
  background-size: cover;
  height: 20vh;
}
.bg-img-4 {
  background-image: asset-url("view4.jpeg");
  background-size: cover;
  height: 20vh;
}
.bg-img-5 {
  background-image: asset-url("guest-bedroom1.jpeg");
  background-size: cover;
  height: 20vh;
}