.simple-calendar {
  thead{
    text-align: center;
  }

  th{
    text-align: center;
    color: grey;
    opacity: 0.9;
  }

  .calendar-title {
    font-size: x-large;
  }

  tbody {
    font-weight: bold;
    td {
      height: 4rem;
      width: 4rem;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      &.today {
        background-color: #FAF3DD;
        &:hover {
          background-color: rgb(175, 212, 174);
        }
      }
      &.future {
        &:hover {
          background-color: rgb(175, 212, 174);
        }
      }
      &.past {
        color: grey;
        opacity: 0.9;
        font-weight: lighter;
        .date{
          text-decoration: line-through;
        }
      }
      &.has-events {
        color: grey;
        opacity: 0.9;
        font-weight: lighter;
        .date{
          text-decoration: line-through;
        }
        &:hover {
          background-color: rgb(227, 225, 225);
        }
        .booking a{
          text-decoration: none !important;
        }
      }
    }
  }
}
