.simple-calendar {
  th{
    color: grey;
    opacity: 0.9;
    max-width: 50px;
  }

  .calendar-title {
    font-size: x-large;
  }

  tbody {
    font-weight: bold;
    td {
      height: 50px;
      width: 50px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      &.today {
        background-color: #FAF3DD;
        &:hover {
          background-color: rgb(175, 212, 174);
        }
      }
      &.future {
        &:hover {
          background-color: rgb(175, 212, 174);
        }
      }
      &.past {
        color: grey;
        opacity: 0.9;
        font-weight: lighter;
        text-decoration: line-through;
      }
      &.has-events {
        color: grey;
        opacity: 0.9;
        font-weight: lighter;
        text-decoration: line-through;
        &:hover {
          background-color: rgb(227, 225, 225);
        }
        &.booking {
          text-decoration: none;
        }
      }
    }
  }
}
